[Unit]
Description=UVL Inventory Offboard service
Wants=network-online.target
After=network-online.target realsense.service

[Service]
ExecStart=/home/pi/uvl-inventory-offboard/systemd/offboard.service.sh
TimeoutStopSec=5s
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
